exercises/advanced/gitea/*data
exercises/advanced/wikijs/wiki.sqlite
exercises/advanced/filebrowser/filebrowser.db
exercises/advanced/filebrowser/data
exercises/advanced/linkwarden/pgdata
exercises/advanced/pihole/dnsmasq.d
exercises/advanced/pihole/pihole
exercises/advanced/registry/registry_data
credentials.md
